body{
    background-color: rgb(0, 0, 0);
}
.portfolio{
    margin-left: 65px;
    margin-right: 65px;
    padding-bottom: 30%;
    padding-top: 10px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(213, 213, 213);
    box-shadow: 1px -5px 30px rgb(222, 225, 223);
}
.nom{
    border-bottom: solid 1px  rgb(0, 0, 0);
    padding-bottom: 40px;
    font-size: 48px;
}

.sobremi{
    margin-left: 20px;
}
.targeta{
    display: inline-block;
    border: solid 2px;
    width: 400px;
    height: 230px;

    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.targeta:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}
.mifoto{
    width: 110px;
    position: absolute;
    margin-left: 75%;
    margin-top: -11%;
    border-radius: 25%;
    
}

.fnr{
    width: 100px;
}

a{
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.correo{
    color: rgb(184, 184, 184);
}
h3{
    color: white;
    text-shadow: 2px 1px 3px rgb(165, 165, 165);

}
footer{
    font-family: Arial, Helvetica, sans-serif;
    border-top: solid thin red;
    margin-top: 40px;
    color: rgb(255, 255, 255);
}
